# .env.example

# App
PROJECT_NAME="Synapse Backend"  # or "Synapse Worker"
API_V1_STR="/api/v1"

# Postgres
POSTGRES_USER=youruser
POSTGRES_PASSWORD=yourpassword
POSTGRES_SERVER=localhost
POSTGRES_DB=yourdb

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
